<!DOCTYPE html>
<html>
  <head>
    <title>2d Array Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body><table>
        <% for (var i = 0; i < table.length; i++) {%>
            <tr> <% for (var j = 0; j < table[i].length; j++) {%>
                <td><%=table[i][j]%></td>
            <%}}%>
        </table>
  </body>
</html>
